body{
    margin: 0;
    padding: 0;
}
.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#click{
    border: 0;
    height: 50px;
    width: 150px;
    color: rgb(255, 255, 255);
    background-color: gray;
}