body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

}
.box{
    height: 50%;
    width: 50%;
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    
} 
.btns{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
}
button{
    height: 80%;
    width: 20%;
    border: 3px solid white;
    background-color: cadetblue;

}
button:hover{
    background-color: cadetblue;
    border: 3px solid black;
    color: rgb(255, 255, 255);
    box-shadow: 8px 8px 30px rgb(67, 66, 66);
    font-weight: bolder;
}
